<footer class="app-footer">
  <div class="footer-inner">
    <div class="footer-left">
      <span class="footer-brand">RURAL-TECH</span>
      <span class="footer-copy">{{ ts.translate('footer.info') }}</span>
    </div>
    <nav class="footer-links">
      <a routerLink="/help-center">{{ ts.translate('footer.support') }}</a>
    <a routerLink="/help-center">{{ ts.translate('footer.guide') }}</a>
    <a routerLink="/help-center">{{ ts.translate('footer.contact') }}</a>
    </nav>
  </div>
</footer>
