@import "../auth/login.css";

.alert {
  padding: 12px;
  font-family: var(--font-main);
  font-weight: bold;
  border: var(--border-thick);
  box-shadow: 2px 2px 0 #000;
  text-align: center;
}

.alert-error {
  background-color: var(--accent-red);
  color: var(--neutral-white);
}

.alert-success {
  background-color: #16a34a;
  color: var(--neutral-white);
}
